<!DOCTYPE html>
<html>
<head>
	<title>数据分析</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
	<link rel="stylesheet" type="text/css" href="../../css/comm/comm.css">
</head>
<body>
    <div id="top">
		<my-nav/>
	</div>
    <div>数据分析</div>

    <div id="website-analysis" style="width: 600px;height: 400px;"></div>
    
    <script src="../../js/comm/vue.js"></script>
    <script src="../../js/comm/axios.min.js"></script>
    <script src="../../js/comm/comm.js"></script>
    <script src="../../js/comm/echarts.js"></script>
    <script src="../../js/analysis/websiteAnalysis.js"></script>
    <script type="text/javascript">
        
    </script>
</body>
</html>