<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="../../css/user/normalize.css">
	<link rel="stylesheet" type="text/css" href="../../css/user/style.css">
</head>
<body>

    <section class="login-form-wrap">
	    <h1>liuffei的博客</h1>
        <form class="login-form" method="post" action="return false;" id="info">
	        <label><input type="email" name="email" required placeholder="请输入邮箱/登录名" v-model="email"></label>
	        <label><input type="password" name="password" required placeholder="请输入密码" v-model="password"></label>
	        <input type="button" value="登录" onclick="login();">
        </form>
        <h5><a href="regist.html">还没有账号？注册</a>&nbsp;&nbsp;<a href="#">忘记密码</a></h5>
	</section>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../../js/comm/md5.min.js"></script>
    <script type="text/javascript">
        var userInfo = new Vue({
            el:"#info",
            data:{
            	email:"",
                password:""
            }
        });  
        
        function login(){
            var passwordMd5 = md5(userInfo.password);
            axios.post('http://127.0.0.1:8080/user/login',{
	        	email:userInfo.email,
	        	loginName:userInfo.email,
	        	password:passwordMd5
	        })
	        .then(function(response){
	            console.log(response.data); 
	        })
	        .catch(function(error){
	            console.log(error);
	        });
        }
        
    </script>
</body>
</html>
</html>