<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Access-Control-Allow-Methods" content="GET,POST,DELETE,PUT">
	<title>用户头像上传</title>
</head>
<body>
    <form method="post" action="http://127.0.0.1:8080/upload/user" enctype="multipart/form-data">
        <input type="file" name="file" /><br/><br/>
        <input type="submit" value="Submit" />
    </form>

    <div id="uploadStatus" v-if="seen">
        <h1>Upload Status</h1>
        <div>
        	
        </div>
    </div>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
    	var uploadStatus = new Vue({
            el:"#uploadStatus",
            data:{
            	seen:false
            }
    	});

    </script>
</body>
</html>