body{
    margin: 0px;
    padding-top: 60px;
    width: 1349px;
    background-color: #333
}
h2{
    color: #512b1e;
}
input{
    background-color: gainsboro;
}
/*侧边导航*/
#sideBar{
    width: 300px;
    height: 500px;
    margin: 40px 20px 0px 100px;
    float: left;
}
#sideName{
    width: 300px;
    height: 150px;
    background-color:#512b1e;
    color: white;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
}
#sideNav{
    width: 300px;
    height: 350px;
    background-color: white;
}
#sideNav ul{
    margin: 0px;
    padding: 0px;
}
#sideNav li{
    width: 240px;
    height: 40px;
    margin: 0px 30px 15px 30px;
    list-style: none;
    background-color: white;
    line-height: 40px;
    text-align: center;
}
#sideNav li:hover{
    background-color: gainsboro;
    cursor: pointer;
}
#logout:hover{
    background-color: #b9003a!important;
}
/*内容*/
#contentBox{
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 40px 50px 0px 20px;
    float: left;
}
#content{
    width: 800px;
    position: absolute;
    background-color: white;
}

.part{
    width: 600px;
    height: 400px;
    padding: 50px 100px;
    position: relative;
    display: none;
}

#content div{
    
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42858;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42858;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    color: #fff;
    background-color: #009a61;
    border-color: #008151;
}

.required:after {
    content: " *";
    color: #ED1C24;
}

.profile-heading-avatar-warp {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.profile-heading-avatar {
    background: #ffffff;
    width: 100%;
    border-radius: 50%;
}

.hide {
    display: none !important;
}

.profile-avatar-uploader {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 160px;
    text-align: center;
    background: rgba(0,0,0,0.75);
    height: 40px;
    color: #fff;
    line-height: 40px;
}

.col-md-2 {
    width: 30%;
}


