<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">{{ message }}</div>

    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">看见啦</p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reserveMessage">逆转消息</button>
    </div>

    <div id="app-6">
    	<p>{{message}}</p>
    	<input v-model="message"/>
    </div>

    <div id="app-7">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <div>
        <ol>
        	<todo-item></todo-item>
        </ol>
    </div>

    <script type="text/javascript">
    	var app = new Vue({
            el:"#app",
            data:{
            	message:"Hello,liuffei"
            }
    	});

    	var app2 = new Vue({
            el:"#app-2",
            data:{
            	message:"Hello,World!!!!"
            }
    	});

        var app3 = new Vue({
            el:"#app-3",
            data:{
            	seen:"true"
            }
        });


    	var app4 = new Vue({
            el:"#app-4",
            data:{
            	todos:[
                    {"text":"AAA"},
                    {"text":"BBB"},
                    {"text":"CCC"}
            	]
            }
    	});

    	app4.todos.push({"text":"DDD"});

        var app5 = new Vue({
           el:"#app-5",
           data:{
               message:"Hello,liuffei"	
           },
           methods:{
           	   reserveMessage:function(){
           	   	   this.message = this.message.split('').reverse().join('');
           	   }
           }
        });

        var app6 = new Vue({
            el:"#app-6",
            data:{
            	message:"Hello,World!!!"
            }
        });

        Vue.component('todo-item',{
            template:'<li>这是个待办事项</li>'
        });

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: '蔬菜' },
                    { id: 1, text: '奶酪' },
                    { id: 2, text: '随便其它什么人吃的东西' }
                ]
            }
        })

    </script>
    
</body>
</html>