<!DOCTYPE doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <title>
            liuffei's blog 后台管理系统
        </title>
        <meta content="这是一个 user 页面" name="description"/>
        <meta content="user" name="keywords"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="webkit" name="renderer"/>
        <meta content="no-siteapp" http-equiv="Cache-Control"/>
        <link href="../assets/img/favicon.png" rel="icon" type="image/png"/>
        <link href="../assets/img/app-icon72x72@2x.png" rel="apple-touch-icon-precomposed"/>
        <meta content="Amaze UI" name="apple-mobile-web-app-title"/>
        <link href="../assets/css/amazeui.min.css" rel="stylesheet"/>
        <link href="../assets/css/admin.css" rel="stylesheet"/>
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
          以获得更好的体验！</p>
        <![endif]-->
        <header class="am-topbar am-topbar-inverse admin-header">
            <div class="am-topbar-brand">
                <strong>
                    liuffei's blog
                </strong>
                <small>
                    后台管理系统
                </small>
            </div>
            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                    <li>
                        <a href="javascript:;">
                            <span class="am-icon-envelope-o">
                            </span>
                            收件箱
                            <span class="am-badge am-badge-warning">
                                5
                            </span>
                        </a>
                    </li>
                    <li class="am-dropdown" data-am-dropdown="">
                        <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;">
                            <span class="am-icon-users">
                            </span>
                            管理员
                            <span class="am-icon-caret-down">
                            </span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li>
                                <a href="#">
                                    <span class="am-icon-user">
                                    </span>
                                    资料
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="am-icon-cog">
                                    </span>
                                    设置
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="am-icon-power-off">
                                    </span>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-hide-sm-only">
                        <a href="javascript:;" id="admin-fullscreen">
                            <span class="am-icon-arrows-alt">
                            </span>
                            <span class="admin-fullText">
                                开启全屏
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="am-cf admin-main">
            <!-- sidebar start -->
            <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
                <div class="am-offcanvas-bar admin-offcanvas-bar">
                    <ul class="am-list admin-sidebar-list" id="admin-menu">
                        <li class="admin-parent">
                            <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}">
                                <span class="am-icon-file">
                                </span>
                                页面模块
                                <span class="am-icon-angle-right am-fr am-margin-right">
                                </span>
                            </a>
                            <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                                <li>
                                    <a class="am-cf" href="admin-person.html">
                                        <span class="am-icon-check">
                                        </span>
                                        个人资料
                                        <span class="am-icon-star am-fr am-margin-right admin-icon-yellow">
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="admin-user.html">
                                        <span class="am-icon-calendar">
                                        </span>
                                        用户管理
                                    </a>
                                </li>
                                <li>
                                    <a href="admin-blog.html">
                                        <span class="am-icon-calendar">
                                        </span>
                                        博客管理
                                    </a>
                                </li>
                                <li>
                                    <a @click="write();" href="#">
                                        <span class="am-icon-calendar">
                                        </span>
                                        写博客
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="am-panel am-panel-default admin-sidebar-panel">
                        <div class="am-panel-bd">
                            <p>
                                <span class="am-icon-bookmark">
                                </span>
                                公告
                            </p>
                            <p>
                                慢慢成长。—— liuffei
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar end -->
            <!-- content start -->
            <div class="admin-content">
                <div class="admin-content-body">
                    <div class="am-cf am-padding am-padding-bottom-0">
                        <div class="am-fl am-cf">
                            <strong class="am-text-primary am-text-lg">
                                个人资料
                            </strong>
                            /
                            <small>
                                Personal information
                            </small>
                        </div>
                    </div>
                    <hr/>
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-11 am-u-md-pull-1">
                            <form class="am-form am-form-horizontal">
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label" for="user-name">
                                        姓名 / Name
                                    </label>
                                    <div class="am-u-sm-9">
                                        <input id="user-name" placeholder="姓名 / Name" type="text">
                                            <small>
                                                输入你的名字，让我们记住你。
                                            </small>
                                        </input>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label" for="user-email">
                                        电子邮件 / Email
                                    </label>
                                    <div class="am-u-sm-9">
                                        <input id="user-email" placeholder="输入你的电子邮件 / Email" type="email">
                                            <small>
                                                邮箱你懂得...
                                            </small>
                                        </input>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label" for="user-phone">
                                        电话 / Telephone
                                    </label>
                                    <div class="am-u-sm-9">
                                        <input id="user-phone" placeholder="输入你的电话号码 / Telephone" type="tel">
                                        </input>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label" for="user-QQ">
                                        QQ
                                    </label>
                                    <div class="am-u-sm-9">
                                        <input id="user-QQ" pattern="[0-9]*" placeholder="输入你的QQ号码" type="number">
                                        </input>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label" for="user-weibo">
                                        微博 / Twitter
                                    </label>
                                    <div class="am-u-sm-9">
                                        <input id="user-weibo" placeholder="输入你的微博 / Twitter" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label" for="user-intro">
                                        简介 / Intro
                                    </label>
                                    <div class="am-u-sm-9">
                                        <textarea class="" id="user-intro" placeholder="输入个人简介" rows="5">
                                        </textarea>
                                        <small>
                                            250字以内写出你的一生...
                                        </small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button class="am-btn am-btn-primary" type="button">
                                            保存修改
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <footer class="admin-content-footer">
                    <hr/>
                    <p class="am-padding-left">
                        © 2018 liuffei.
                    </p>
                </footer>
            </div>
            <!-- content end -->
        </div>
        <a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}" href="#">
        </a>
        <!--[if lt IE 9]>
        <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
        <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
        <![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../assets/js/jquery-3.3.1.js">
        </script>
        <!--<![endif]-->
        <script src="../assets/js/amazeui.min.js">
        </script>
        <script src="../assets/js/amazeui.app.js">
        </script>
        <script src="../assets/js/axios.min.js">
        </script>
        <script src="../assets/js/vue.js">
        </script>
        <script src="../assets/js/comm.js">
        </script>
        <script src="../assets/js/admin-comm.js">
        </script>
    </body>
</html>
