<!DOCTYPE doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
            <meta content="IE=edge" http-equiv="X-UA-Compatible">
                <title>
                    liuffei's blog 后台管理系统
                </title>
                <meta content="这是一个 user 页面" name="description">
                    <meta content="user" name="keywords">
                        <meta content="width=device-width, initial-scale=1" name="viewport">
                            <meta content="webkit" name="renderer">
                                <meta content="no-siteapp" http-equiv="Cache-Control"/>
                                <link href="../assets/img/favicon.png" rel="icon" type="image/png">
                                    <link href="../assets/img/app-icon72x72@2x.png" rel="apple-touch-icon-precomposed">
                                        <meta content="Amaze UI" name="apple-mobile-web-app-title"/>
                                        <link href="../assets/css/amazeui.min.css" rel="stylesheet"/>
                                        <link href="../assets/css/admin.css" rel="stylesheet">
                                        </link>
                                    </link>
                                </link>
                            </meta>
                        </meta>
                    </meta>
                </meta>
            </meta>
        </meta>
    </head>
    <body>
    <!--[if lte IE 9]>
    <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
      以获得更好的体验！</p>
    <![endif]-->
        <header class="am-topbar am-topbar-inverse admin-header">
            <div class="am-topbar-brand">
                <strong>
                    liuffei's blog
                </strong>
                <small>
                    后台管理系统
                </small>
            </div>
            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                    <li>
                        <a href="javascript:;">
                            <span class="am-icon-envelope-o">
                            </span>
                            收件箱
                            <span class="am-badge am-badge-warning">
                                5
                            </span>
                        </a>
                    </li>
                    <li class="am-dropdown" data-am-dropdown="">
                        <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;">
                            <span class="am-icon-users">
                            </span>
                            管理员
                            <span class="am-icon-caret-down">
                            </span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li>
                                <a href="#">
                                    <span class="am-icon-user">
                                    </span>
                                    资料
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="am-icon-cog">
                                    </span>
                                    设置
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="am-icon-power-off">
                                    </span>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-hide-sm-only">
                        <a href="javascript:;" id="admin-fullscreen">
                            <span class="am-icon-arrows-alt">
                            </span>
                            <span class="admin-fullText">
                                开启全屏
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="am-cf admin-main">
            <!-- sidebar start -->
            <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
                <div class="am-offcanvas-bar admin-offcanvas-bar">
                    <ul class="am-list admin-sidebar-list">
                        <li>
                            <a href="admin-person.html">
                                <span class="am-icon-home">
                                </span>
                                首页
                            </a>
                        </li>
                        <li class="admin-parent">
                            <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}">
                                <span class="am-icon-file">
                                </span>
                                页面模块
                                <span class="am-icon-angle-right am-fr am-margin-right">
                                </span>
                            </a>
                            <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                                <li>
                                    <a class="am-cf" href="admin-user.html">
                                        <span class="am-icon-check">
                                        </span>
                                        个人资料
                                        <span class="am-icon-star am-fr am-margin-right admin-icon-yellow">
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="admin-user.html">
                                        <span class="am-icon-calendar">
                                        </span>
                                        用户管理
                                    </a>
                                </li>
                                <li>
                                    <a href="admin-access.html">
                                        <span class="am-icon-calendar">
                                        </span>
                                        历史管理
                                    </a>
                                </li>
                                <li>
                                    <a href="admin-blog.html">
                                        <span class="am-icon-calendar">
                                        </span>
                                        博客管理
                                    </a>
                                </li>
                                <li>
                                    <a href="admin-edit.html">
                                        <span class="am-icon-calendar">
                                        </span> 写博客
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="am-panel am-panel-default admin-sidebar-panel">
                        <div class="am-panel-bd">
                            <p>
                                <span class="am-icon-bookmark">
                                </span>
                                公告
                            </p>
                            <p>
                                慢慢成长。—— liuffei
                            </p>
                        </div>
                    </div>
                    <div class="am-panel am-panel-default admin-sidebar-panel">
                        <div class="am-panel-bd">
                            <p>
                                <span class="am-icon-tag">
                                </span>
                                liuffei's blog
                            </p>
                            <p>
                                Welcome to liuffei's blog
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar end -->
            <!-- content start -->
            <div class="admin-content">
                <div class="admin-content-body">
                    <div class="am-cf am-padding am-padding-bottom-0">
                        <div class="am-fl am-cf">
                            <strong class="am-text-primary am-text-lg">
                                写博客
                            </strong>
                            /
                            <small>
                                Write Blog
                            </small>
                        </div>
                    </div>
                    <hr/>
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6 am-u-md-push-6">
                            <div class="am-form-group" id="preview"></div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-6 am-u-md-pull-6" id="blog">
                            <form class="am-form am-form-horizontal">
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label" for="blog-title">
                                        标题 / Title
                                    </label>
                                    <div class="am-u-sm-9">
                                        <input id="blog-title" placeholder="输入你的标题 / Title" type="text" v-model="blog.title">
                                        </input>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label" for="blog-content">
                                        正文 / Content
                                    </label>
                                    <div class="am-u-sm-9">
                                        <textarea @input="update();" class="" id="blog-content" placeholder="输入个人简介" rows="5" v-model="blog.content">
                                        </textarea>
                                        <small>
                                            250字以内写出你的一生...
                                        </small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button @click="draftBlog();" class="am-btn am-btn-primary" type="button">
                                            存草稿
                                        </button>
                                        <button @click="saveBlog();" class="am-btn am-btn-primary" type="button">
                                            保存
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <footer class="admin-content-footer">
                    <hr>
                    <p class="am-padding-left">
                        © 2018 liuffei.
                    </p>
                    </hr>
                </footer>
            </div>
            <!-- content end -->
        </div>
        <a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}" href="#">
        </a>
        <!--[if lt IE 9]>
        <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
        <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
        <![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../assets/js/jquery-3.3.1.js"></script>
        
        <!--<![endif]-->
        <script src="../assets/js/amazeui.js"></script>        
        <script src="../assets/js/markdown.js"></script>       
        <script src="../assets/js/vue.js"></script>       
        <script src="../assets/js/axios.min.js"></script>       
        <script src="../assets/js/comm.js"></script>       
        <script type="text/javascript">
            var vm = new Vue({
                el: "#blog",
                data: function() {
                  return {
                    blog: {
                      id: null,
                      title: "",
                      content: ""
                    } 
                  };        
                },
                created: function() {
                   //this.$nextTick(function () {
                     this.init(this.blog,this.update);
                  // })
                },
                methods: {
                  init(blog,func){
                    blog.id = sessionStorage.getItem("blogId");
                    if(blog.id){
                      axios.get(SERVER_URL+"/blog/"+blog.id,{
                             
                      })
                      .then(function(response){
                        blog.title = response.data.content.title;
                        blog.content = response.data.content.content;
                        //$("article").innerHTML += blog.content;
                        $("preview").innerHTML = markdown.toHTML(blog.content, 'Maruku');
                      })
                      .catch(function(error){
                        console.log(error);
                      })  
                    }
                  },
                  draftBlog(){

                  },
                  saveBlog(){
                    axios.post(SERVER_URL+"/blog",{
                          //"content": $("preview").innerHTML
                          "content": $("blog-content").value,
                          "title": $("blog-title").value,
                          "id":this.blog.id
                    },{
                        "headers": {
                            "token": localStorage.getItem("token")
                        }
                    })
                    .then(function(response){
                        alert("保存成功");
                    })
                    .catch(function(error){

                    })     
                  },
                  update(){
                    //Maruku 这里加上是为了可以显示table
                    $("preview").innerHTML = markdown.toHTML($("blog-content").value, 'Maruku');
                  }
                } 
              });
        </script>
    </body>
</html>
