<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	
	<ul class="header">
		<li><a href="index.html" class="active">主页</a></li>
		<div class="dropdown">
			<a href="#" class="dropbtn">博客网站</a>
			<div class="dropdown-content">
				<a href="blog/csdn.html">CSDN</a>
				<a href="blog/cnblogs.html">博客园</a>
				<a href="blog/osc.html">开源中国</a>
			</div>
		</div>
		<li><a href="contact.html">联系我</a></li>
		<li><a href="about.html">关于</a></li>
	</ul>

    <p>联系我</p>

</body>
</html>