<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/index.css">
	<link rel="stylesheet" type="text/css" href="../../css/blog/blog.css">
	<link rel="stylesheet" type="text/css" href="../../css/comm/comm.css">
</head>
<body>
	
	<div id="top">
		<my-nav/>
	</div>

	<ol id="blog-cnblogs" class="content">
        <li v-for="blog in blogs">
              <img src="../../image/cnblogs.jpg" alt="csdn" width="50" height="50">
              <a href="javascript:void(0)" target="_blank" v-on:click="view(blog);">{{blog.title}}</a>
        </li>
    </ol>

	<script src="../../js/comm/vue.js"></script>
    <script src="../../js/comm/axios.min.js"></script>
    <script src="../../js/comm/comm.js"></script>
    <script type="text/javascript">
       
        axios.get('http://127.0.0.1:8080/cnblogs/blogs')
		    .then(function (response) {
				if(1 == response.data.status){
					var blogsApp = new Vue({
				    	el:"#blog-cnblogs",
				    	data:{
				    		"blogs":response.data.blogs
				    	},
				    	methods:{
				    	 	/**
				    	 	 *点击博客记录，保存到数据库，然后跳转
				    	 	 */
				    	 	view:function(blog){
				    	 		var token = localStorage.getItem("token");
				    	 		axios.post("http://127.0.0.1:8080/user/access",{
					                 "title":blog.title,
					                 "url":blog.url,
					                 "websiteType":2
						     	  },{
						     	  	 headers:{
						     	  	 	 "token":token
						     	  	 }
						     	  })
						     	  .then(function(response){
						     	  	  window.location.href = blog.url;
					                  //window.open(blog.url);
						     	  })
						     	  .catch(function(error){
					                  alert(error);
						     	  });
				    	 	}
				    	}
				    });
				}    
		    })   
		    .catch(function (error) {
			
		    });
    </script>
    
    
</body>
</html>