<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8"/>
        <title>
            liuffei's blog
        </title>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="telephone=no" name="format-detection"/>
        <meta content="webkit" name="renderer"/>
        <meta content="no-siteapp" http-equiv="Cache-Control"/>
        <link href="assets/css/amazeui.min.css" rel="stylesheet"/>
        <link href="assets/css/index.css" rel="stylesheet" type="text/css"/>
        <style media="screen" type="text/css">
            /**
             *处理table的自适应容器,内容的换行
             */
            table {
                table-layout: fixed;
                word-break:break-all;
            }
        </style>
    </head>
</html>
<body>
    <header class="am-g my-head">
        <div class="am-u-sm-8 am-u-sm-centered">
            <h1 class="am-article-title">
                liuffei's blog
            </h1>
            <!--
            <p class="am-article-meta">
                <div class="am-form-inline">
                    <input type="text" class="am-form-field" placeholder="关键字"/>
                    <button type="submit" class="am-btn am-btn-default">搜索</button>
                </div>
            </p>
            -->
            <!--websocket测试
            <div id="main">  
                <div id="message"></div>  
            </div>
            -->
        </div>
    </header>
    <hr class="am-article-divider"/>
    <div class="am-g am-g-fixed">
        <div class="am-u-md-9 am-u-md-push-3">
            <div class="am-g">
                <div class="am-u-sm-11 am-u-sm-centered">
                    <div class="am-cf am-article" id="article-index">
                        <h3 class="am-article-title blog-title" style="align: center;">{{blog.title}}</h3>
                        <h4 class="am-article-meta blog-meta">by <a href="">liuffei</a> posted on 2014/06/17 under <a href="#">javascript</a></h4>
                        <hr class="am-article-divider"/>
                        <div v-html="blog.content" class="am-g blog-content">
                            {{blog.content}}
                        </div>
                        </hr>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="am-u-md-3 am-u-md-pull-9 my-sidebar">
            <div class="am-offcanvas" id="sidebar">
                <div class="am-offcanvas-bar">
                    <ul class="am-nav">
                        <li>
                            <a href="index.html">
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="menu.html">
                                目录
                            </a>
                        </li>
                        <li>
                            <a href="about.html">
                                关于我
                            </a>
                        </li>
                        <li>
                            <a href="message.html">
                                留言
                            </a>
                        </li>
                        <li>
                            <a href="download.html">
                                下载
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/bluesnail95">
                                <i class="am-icon-github am-icon-sm">
                                </i>
                                Github
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 按钮触发器， 需要指定 target -->
        <a class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button" data-am-offcanvas="{target: '#sidebar', effect: 'push'}">
            <span class="am-sr-only">
                侧栏导航
            </span>
        </a>
    </div>
    <footer class="my-footer">
        <p>
            <small>
                © Copyright by the liuffei.
            </small>
        </p>
    </footer>
</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!
<script src="assets/js/jquery.min.js"></script>
-->
<!--<![endif]
<script src="assets/js/amazeui.min.js"></script>
-->
<script src="assets/js/jquery-3.3.1.js">
</script>
<script src="assets/js/amazeui.js">
</script>
<script src="assets/js/vue.js">
</script>
<script src="assets/js/axios.min.js">
</script>
<script src="assets/js/comm.js">
</script>
<script src="assets/js/markdown.js">
</script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#article-index",
        data: function() {
            return {
                blog: {
                    "title": "",
                    "content": ""
                }
            };
        },
        created: function() {
            this.$nextTick(function () {
                this.init(this.blog);
            })
        },
        //每次渲染完后执行的代码
        updated:function(){
            this.$nextTick(function(){
                var tableEle = document.getElementsByTagName("table");
                for(var i = 0;i < tableEle.length; i++) {
                    tableEle[i].className += ' am-table am-table-striped am-table-hover table-main ';
                }
            });
        },
        methods: {
            init(blog){
                axios.get(SERVER_URL+"/blog/lastest",{
                   
                })
                .then(function(response){
                    blog.title = response.data.blog.title;
                    blog.content = markdown.toHTML(response.data.blog.content, 'Maruku');
                })
                .catch(function(error){
                    console.log(error);
                })  
            }
        }
        
    });

</script>
<script src="assets/js/sockjs.min.js"></script>
<script src="assets/js/stomp.min.js"></script>
<script>
    /*
    // 建立连接对象（还未发起连接）
    var socket = new SockJS(SERVER_URL+"/webSocketServer");

    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect(
        {},
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            //setMessageInnerHTML("连接成功");
            stompClient.subscribe('/topic/subscribe', function (response) {
                var returnData = JSON.parse(response.body);
                var blogData = JSON.parse(returnData.messageContent);
                setMessageInnerHTML("博主于:" + new Date(returnData.gmtModified) + "更新了博客《" + blogData.blog.title + "》");
            });
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            setMessageInnerHTML("连接失败");
        }
    );

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML = innerHTML + '<br/>';
    }
    */
</script>
