<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>liuffei's blog</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body>
<header class="am-g my-head">
  <div class="am-u-sm-12 am-article">
    <h1 class="am-article-title">liuffei's blog</h1>
    <p class="am-article-meta">liuffei(GuangZhou)</p>
  </div>
</header>
<hr class="am-article-divider"/>
<div class="am-g am-g-fixed">
  <div class="am-u-md-9 am-u-md-push-3">
    <div class="am-g">
      <div class="am-u-sm-11 am-u-sm-centered">        
          <section class="am-panel am-panel-default">
            <div class="am-panel-hd">文章目录</div>
            <ul class="am-list blog-list" id="menu">
              <li v-for="blog in blogs">
                <a href="javascript:void(0)" target="_blank" v-on:click="viewBlog(blog);"> {{blog.title}}</a>
              </li> 
            </ul>
          </section>       
        <hr/>
      </div>
    </div>
  </div>
  <div class="am-u-md-3 am-u-md-pull-9 my-sidebar">
    <div class="am-offcanvas" id="sidebar">
      <div class="am-offcanvas-bar">
        <ul class="am-nav">
          <li><a href="index.html">首页</a></li>
          <li><a href="menu.html">目录</a></li>
          <li><a href="edit.html">写博客</a></li>
          <li><a href="about.html">关于我</a></li>
          <li><a href="message.html">留言</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 按钮触发器， 需要指定 target -->
  <a class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button" data-am-offcanvas="{target: '#sidebar', effect: 'push'}">
      <span class="am-sr-only">侧栏导航</span>
  </a>
</div>

<footer class="my-footer">
  <p>sidebar template<br><small>© Copyright XXX. by the AmazeUI Team.</small></p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!
<script src="assets/js/jquery.min.js"></script>
-->
<!--<![endif]
<script src="assets/js/amazeui.min.js"></script>
-->
  <script src="assets/js/jquery-3.3.1.js"></script>
  <script src="assets/js/amazeui.js"></script>
  <script src="assets/js/vue.js"></script>
  <script src="assets/js/axios.min.js"></script>
  <script src="assets/js/comm.js"></script>
  <script type="text/javascript">
    new Vue({
      el: "#menu",
      data: {
        blogs: ""
      },
      created: function() {
        axios.get(SERVER_URL+"/blogs",{
                   
        })
        .then(function(response){
            this.blogs = response.data.blogs;
        })
        .catch(function(error){

        })  
      } ,
      methods: {
        viewBlog(blog) {
          document.setCookie = "blogId="+blog.id;
          window.location.href = "view.html";   
        }
      }
    });

  </script>
</body>
</html>
