<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>liuffei's blog</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body>
<header class="am-g my-head">
  <div class="am-u-sm-12 am-article">
    <h1 class="am-article-title">liuffei's blog</h1>
    <p class="am-article-meta">liuffei(GuangZhou)</p>
  </div>
</header>
<hr class="am-article-divider"/>
<div class="am-g am-g-fixed">
  <div class="am-u-md-9 am-u-md-push-3">
    <div class="am-g">
      <div class="am-u-sm-11 am-u-sm-centered">
        <section class="am-panel am-panel-default">
          <div class="am-panel-hd">留言</div>
          <ul class="am-comments-list">
            <li class="am-comment">
              <a href="#link-to-user-home">
                <img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96/q/80" alt="" class="am-comment-avatar" width="48" height="48">
              </a>
              <div class="am-comment-main">
                <header class="am-comment-hd">
                  <div class="am-comment-meta">
                    <a href="#link-to-user" class="am-comment-author">某人</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                  </div>
                </header>
                <div class="am-comment-bd">
                  <p>学习了。</p>
                </div>
              </div>
            </li>
            <li class="am-comment">
              <a href="#link-to-user-home">
                <img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96/q/80" alt="" class="am-comment-avatar" width="48" height="48">
              </a>
              <div class="am-comment-main">
                <header class="am-comment-hd">
                  <div class="am-comment-meta">
                    <a href="#link-to-user" class="am-comment-author">某人</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                  </div>
                </header>
                <div class="am-comment-bd">
                  <p>学习了。</p>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="am-u-md-3 am-u-md-pull-9 my-sidebar">
    <div class="am-offcanvas" id="sidebar">
      <div class="am-offcanvas-bar">
        <ul class="am-nav">
          <li><a href="index.html">首页</a></li>
          <li><a href="menu.html">目录</a></li>
          <li><a href="edit.html">写博客</a></li>
          <li><a href="about.html">关于我</a></li>
          <li><a href="message.html">留言</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 按钮触发器， 需要指定 target -->
  <a class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button" data-am-offcanvas="{target: '#sidebar', effect: 'push'}">
      <span class="am-sr-only">侧栏导航</span>
  </a>
</div>

<footer class="my-footer">
  <p>sidebar template<br><small>© Copyright XXX. by the AmazeUI Team.</small></p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!
<script src="assets/js/jquery.min.js"></script>
-->
<!--<![endif]
<script src="assets/js/amazeui.min.js"></script>
-->
  <script src="assets/js/jquery-3.3.1.js"></script>
  <script src="assets/js/amazeui.js"></script>
  <script src="assets/js/vue.js"></script>
  <script src="assets/js/axios.min.js"></script>
  <script src="assets/js/comm.js"></script>
</body>
</html>
