<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>liuffei's blog</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
        <style type="text/css">
            /**
             *处理table的自适应容器,内容的换行
             */
            table {
                table-layout: fixed;
                word-break:break-all;
            }
        </style>
    </head>
    <body>
        <header class="am-g my-head">
            <div class="am-u-sm-12 am-article">
                <h1 class="am-article-title">liuffei's blog</h1>
                <p class="am-article-meta">liuffei(GuangZhou)</p>
            </div>
        </header>
        <hr class="am-article-divider"/>
        <div class="am-g am-g-fixed">
            <div class="am-u-md-9 am-u-md-push-3">
                <div class="am-g">
                    <div class="am-u-sm-11 am-u-sm-centered">
                        <div class="am-cf am-article" id="article" >
                            <h3 class="am-article-title blog-title" style="text-align: center;">{{blog.title}}</h3>
                            <h4 class="am-article-meta blog-meta" style="text-align: center;">
                            发布者：<span class="am-badge am-badge-success">{{blog.creatorName}} </span> &nbsp;&nbsp;
                            <!--
                            更新于：<span class="am-badge am-badge-success">{{blog.gmtModified|timeFormat}} </span>
                            -->
                            分类：<span class="am-badge am-badge-success">{{blog.categoryName}} </span>
                            标签：<span class="am-badge am-badge-success">{{blog.tag}}</span>
                            </h4>
                            <hr class="am-article-divider">
                            <div v-html="blog.content">{{blog.content}}</div>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="am-u-md-3 am-u-md-pull-9 my-sidebar">
                <div class="am-offcanvas" id="sidebar">
                    <div class="am-offcanvas-bar">
                        <ul class="am-nav">
                          <li><a href="index.html">首页</a></li>
                          <li><a href="menu.html">目录</a></li>
                          <li><a href="about.html">关于我</a></li>
                          <li><a href="download.html">下载</a></li>
                          <li><a href="message.html">留言</a></li>
                          <li><a href="https://github.com/bluesnail95"><i class="am-icon-github am-icon-sm"></i>Github</a></li>
                          <li><a href="https://blog.csdn.net/u012734723">CSDN</a></li>
                          <li><a href="https://segmentfault.com/u/bluesnail95">segmentfault </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 按钮触发器， 需要指定 target -->
            <a class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button" data-am-offcanvas="{target: '#sidebar', effect: 'push'}">
                <span class="am-sr-only">侧栏导航</span>
            </a>
        </div>

        <footer class="my-footer">
            <small>
                © 2018 - 2020 liuffei - 刘菲菲 版权所有 粤ICP备18082047号-1
            </small>
        </footer>

        <!--[if lt IE 9]>
        <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
        <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
        <![endif]-->

        <!--[if (gte IE 9)|!(IE)]><!
        <script src="assets/js/jquery.min.js"></script>
        -->
        <!--<![endif]
        <script src="assets/js/amazeui.min.js"></script>
        -->
        <script src="assets/js/jquery-3.3.1.js"></script>
        <script src="assets/js/amazeui.js"></script>
        <script src="assets/js/vue.js"></script>
        <script src="assets/js/axios.min.js"></script>
        <script src="assets/js/comm.js"></script>
        <script src="assets/js/markdown.js"></script>
        <script type="text/javascript">
            var vm = new Vue({
                el: "#article",
                data: function() {
                    return {
                        "blog": {
                            "title": "",
                            "content": "",
                            "creatorName": "",
                            "tag": "",
                            "categoryName": ""
                        }
                    };
                },
                created: function() {
                    this.$nextTick(function () {
                        this.init(this.blog);

                        
                    })
                },
                //每次渲染完后执行的代码
                updated:function(){
                    this.$nextTick(function(){
                        var tableEle = document.getElementsByTagName("table");
                        for(var i = 0;i < tableEle.length; i++) {
                            tableEle[i].className += ' am-table am-table-striped am-table-hover table-main ';
                        }
                    });
                },
                filters: {
                    timeFormat: function(value) {
                        var date = new Date(value);
                        return (1900+date.getYear())+"-"+date.getMonth()+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
                    }
                },
                methods: {
                    init(blog){
                        var blogId = sessionStorage.getItem("blogId");
                        axios.get(SERVER_URL+"/blog/"+blogId,{
                           
                        })
                        .then(function(response){
                            debugger
                            blog.title = response.data.content.title;
                            blog.content = markdown.toHTML(response.data.content.content, 'Maruku');
                            blog.creatorName = response.data.creatorName;
                            blog.categoryName = response.data.categoryName;
                            blog.gmtModified = response.data.content.gmtModified;
                            for(var i = 0;i < response.data.tags.length;i++) {
                                blog.tag += response.data.tags[i] + ",";
                            }
                            //和Java一样，也是不会改变原来的字符串，而是新创建一个
                            blog.tag = blog.tag.substring(0,blog.tag.length - 1);
                        })
                        .catch(function(error){
                            console.log(error);
                        })  
                    }
                }
            });

        </script>
    </body>
</html>
